In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

In [2]:
column_name = ['Queue_number','Shift','date','Created_queue_hours','Created_queue_week','Waiting_duration','Number_of_wating_queue','Arrival_rate','Service_rate']
data = pd.read_csv('http://bit.ly/deepblue_data',header=0,names = column_name)

In [3]:
data.head()

,Queue_number,Shift,date,Created_queue_hours,Created_queue_week,Waiting_duration,Number_of_wating_queue,Arrival_rate,Service_rate
0,101,1,01/01/2020,8,1,0.08,0,4,2
1,101,1,01/01/2020,8,1,0.14,1,4,2
2,101,1,01/01/2020,8,1,0.21,2,4,1
3,101,1,01/01/2020,8,1,0.27,3,4,1
4,101,1,01/01/2020,8,1,0.30,3,2,1

In [4]:
dt = data['date'].str.split('/')
dt2 = []
for i in dt:
    i[0],i[1] = i[1],i[0]
    string  = '/'
    i = string.join(i)
    dt2.append(i)

In [5]:
data['date'] = pd.Series(dt2)

In [6]:
data['date'] =  pd.to_datetime(data['date'])

In [7]:
data['weekdays'] = data['date'].dt.weekday

In [8]:
data.drop('date',axis=1,inplace=True)

In [9]:
y = data['Waiting_duration']
X = data.drop('Waiting_duration',axis=1)

In [10]:
y = np.array(y)
X = np.array(X)

In [11]:
X_train,X_test,y_train,y_test = train_test_split(X, y, test_size = 0.30, random_state = 42)

In [12]:
rf = RandomForestRegressor(n_estimators = 1000, random_state = 42)
rf.fit(X_train,y_train);

In [13]:
prediction = rf.predict(X_test)
error = abs(prediction - y_test)
mape = 100*(error/y_test)
accuracy = 100 - np.mean(mape)
print('Accuracy:', round(accuracy, 2), '%.')

Accuracy: 90.84 %.

In [14]:
prediction_parameter =np.array([[101,   2,  14,   1,  40,   4,   2,   6]])
rf.predict(prediction_parameter)

array([3.42855133])